* { 
    margin: 0;
}

body {
    background-color:hsl(257, 40%, 49%);
}
img{
    width: 100%;
}

.top{
    padding: 10% 8% 8% 8%;
    background-image: url("/images/bg-mobile.svg");
    background-color:hsl(257, 40%, 49%);
}


.titlee {
    margin-bottom: 15%;
    width: 100px;
    font-family: 'Poppins';
    color: white;
    font-weight: 600;
    font-size: 25px;
    display: flex;
}

.fa-comment-dots{
    margin: 5px;
}

.illustration {
    width: 95%;
    margin-left: 4%;
}

.middle {
    text-align: center;
    margin: 7% 10% 0 10%;
}

.text-1 {
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    font-size: 24px;
    
}

.text-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 15px;
    font-size: 16px;
    
}

button {
    margin: 20px 0;
    border-radius: 20px;
    width: 185px;
    padding: 10px 0;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: white;
}

.social {
    display: flex;
    margin: 15% 32% 0 32%;
    justify-content: space-around;
}

.fa-brands {
    color: white;
    padding: 7px;
    border: 1px solid white;
    border-radius: 25px;

}

.fa-facebook-f {
    border-radius: 100%;
    padding: 7px 10px;
}

.attribution {
    margin-top: 25px;
    color: white;
    text-decoration: none;
}

@media(min-width: 1024px){
    body {
        background-image: url("/images/bg-desktop.svg");
    }
    
    .main- {
        display: flex;
    }
    
    .top {
        width: 60%;
        padding: 4% 5% 0 0;
        background-image: none;
        background-color: transparent;
    }

    .illustration {
        margin-left: 10%;
    }

    .titlee {
        margin-bottom: 12%;
        margin-left: 10%;
        font-size: 30px;
    }

    .middle {
        width: 40%;
        margin-top: 0;
        margin-left: 0;
        align-self: center;
        text-align: left;
    }

    .social {
        margin: 33px 3% 0 82%;
    }

    .text-1 {
        font-size: 38px;
        margin: 50px 0 10px 0;
    }

    .text-2 {
        font-size: 17px;
    }
}